<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Position</title>

    <style>

        #div1{
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 90%;
            position: sticky; 
            height: 200px;
            top: 0; /* faz o elemento grudar na parte de cima */
            bottom: 0; /* faz o elemento grudar na parte de baixo */
        }

        #div2{
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static; 
            
        }

        #div3{
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;  
            top: 20px;
            right: 0px;
        }

    </style>

</head>
<body>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">
                3
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ad aperiam a sint officia deleniti deserunt repellat labore, vitae libero, nihil similique incidunt tempora soluta eos ex quia voluptatem cum!</p>

</body>
</html>